@{
    ViewData["Title"] = "Dashboard";
}
<div class="container">
    <h1 class="welcome">Welcome @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName!</h1>
    <a href="Logout" class="logout">Logout</a>
    <hr>
    <div class="header">
        <form action="Action" method="post" class="depositForm">
            <label for="deposit">Deposit/Withdraw:</label>
            <input type="number" name="amount">

            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        <h2 class="balance">Current Balance: @ViewBag.CurrentUser.Money</h2>
    </div>
    <p>@ViewBag.WithdrawError</p>
    <hr>
    <div> 
        <table class="table table-striped myTable table-bordered">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var action in ViewBag.AllActions){
                        <tr>
                            <td>@action.Amount</td>
                            <td>@action.CreatedAt.ToString("MMM dd yyyy hh:mm tt")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>